@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
html,
body {
    width: 100%;
    height: 100%;
}

.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: aqua;
    background: #ca7c4e;
    background: -webkit-gradient( linear, left bottom, right top, from(#eebe6c), to(#ca7c4e));
}

.profile {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 300px;
    width: 320px;
    border-radius: 3px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.data {
    background-color: grey;
    height: 300px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.details {
    height: 300px;
    flex-grow: 7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.data>div {
    flex-grow: 1;
    background-color: #f5e8df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts {
    border-bottom: 2px solid white;
}

.data>div:hover {
    cursor: pointer;
    background-color: #d4baa7;
}

.likes {
    border-bottom: 2px solid white;
}

.numbers,
.text,
.name,
.profession {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0%;
}

.numbers {
    font-weight: 600;
    color: #786450;
}

.text {
    font-size: small;
    color: #786450;
}

.img {
    border-radius: 50%;
    margin-top: 30px;
    width: 70px;
    height: 70px;
}

.name {
    margin-top: 30px;
    font-weight: 600;
    color: #786450;
}

.profession {
    font-weight: 300;
    color: #786450;
    font-size: small;
}

.follow,
.message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border: 1px solid #786450;
    border-radius: 20px;
}

.flwmsg {
    font-weight: 600;
    font-size: medium;
    color: #786450;
}

.follow:hover,
.message:hover {
    cursor: pointer;
    background-color: #786450;
}